.admin {
  background-image: linear-gradient(to top, #000, transparent),
    url("https://www.stanglwirt.com/media/animation/stangl-shop-stanglwirt-7-1.jpg");
  background-position: center center;
  object-fit: fill;
  object-position: center center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  height: 150vh;
}